
#suggestions{


	.suggestionsBlock{
		width:100%;
		border:1px solid #eee;
		padding:20px;
		border-radius: 2px;
		box-shadow:0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
		margin:20px 0 20px 0;
	}


	b{
		color:#ccc;
		font-size:15px;
	}

	.suggestionlist, .suggestionsOriginalText{
		display:flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.suggestionsOriginalText p{
		width:100%;
	}

	.additionalSuggestionBlock{
		display:flex;

		input{
			width:100%;
			border-bottom:1px solid #ccc !important;
			border-width: 0;
		}

	}

	.statusBtnGroup{
		display: flex;
		margin-top:10px;
		padding:10px;
	}

}