$fsize1 : 14px;
$defpadding: 25px;
$defradius : 3px;
$basiccolor: #aaa;

#parsearticle{

	border:0px solid #eee;
	min-height:300px;
	padding:50px 0 50px 0;
	line-height: 30px;

}

.parseUrlBlock{
	padding:$defpadding;
	margin-bottom:20px;
	border-radius: $defradius;
	box-shadow:0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.outputBlock{

}

.fetchedBlock{

	border:0px solid #eee;
	border-radius:3px;

	b{
		font-size:$fsize1;
		color:$basiccolor;
	}

	p{
		font-size:$fsize1;
	}


	ul{
		list-style: none;
		display: inline-block;
		padding:0;
		width:100%;
		border:1px solid #eee;
		border-radius: $defradius;
		margin:20px 0 20px 0;
		padding:$defpadding;
		box-shadow:0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);

		textarea{
			height:100px;
			margin-bottom:20px;

		}

		.btn{margin-top:10px;}
	}

}