

#header{

	display:flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom:1px solid #eee;
	height:80px;
	font-size:25px;
	font-weight: bold;
	color:#888;
	h1{color:#ccc !important;}

	i{
		margin-right:10px;
	}

}