$basiccolor: #aaa;
$hovercolor : gold;

#customBtn{

	display:flex;
	align-items: center;
	//justify-content: flex-end;
	margin:10px 0 10px 0;
	min-width:150px;
	cursor:pointer;

	.fa{
		$size:40px;
		display:flex;
		justify-content: center;
		align-items: center;
		min-height:$size;
		min-width:$size;
		border-radius: $size;
		margin-right:5px;
		transition:0.5s;
		border:1px solid #ccc;
		color:#ccc;
	}

	.btnText{
		text-transform: uppercase;
		color:$basiccolor;
		font-size: 14px;
		transition:0.5s;
	}

	&:hover{
		.fa{ color:$hovercolor;border-color:$hovercolor }
		.btnText{ color: $hovercolor}
	}

}


#customBtn.btnSuccess{

	$color: yellowgreen;
	color:$color;

	.btnText{
		color:$color;
	}

	.fa{
		border-color: $color;
		color:$color;
	}

}


#customBtn.btnDanger{

	$color: #ff5959;
	color:$color;

	.btnText{
		color:$color;
	}

	.fa{
		border-color: $color;
		color:$color;
	}

}